doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css")
        title Document
    body 
        main.container
            section.hero-top 
                .card-header
                   h6.header-soat 1:15
                    img.icon-antena(src="../images/icon.svg", alt="")
                    img.icon-whife(src="../images/Wifi.svg", alt="")
                    img.icon-charge(src="../images/charge.svg", alt="") 
                    img.hamburger-icon(src="../images/List.svg", alt="") 
                    h1.recipe Recipe finder 
                    input.search(type="search"  placeholder=" search")
            .hero-center 
                .hero-center-left 
                    h1.hero-center-left-h1 Healthy Recipes   
                    p.hero-center-left-p with features
                .taom-center-card 
                   img.taom-center-img(src="../images/keto-salad-with-roasted-eggplant-kale 2.png", alt="")
                   h5.taom-1-h5-keto Keto Salad 
                     span.spanbeans Beans & fruits
                img.frame-center-img(src="../images/Frame 33891.png", alt="")  

                .taom-center-card2   
                    img.taom-center-img2(src="../images/salad3 2.png", alt="")    
                    h5.taom-1-h5-keto2 Keto Salad 
                       span.spanbeans2 Beans & fruits  
                    img.frame-center-img2(src="../images/Frame 33891.png", alt="")  
                .login-card 
                    h1.login-card-h1 Learn how to become a <br> master chef right now!
                    button.login-card-btn__login Login
                    img.taom-ochpaz-oldidagi(src="../images/mung-bean-noodle-spicy-salad-removebg-preview 1.png", alt="")
                    img.taom-ochpaz(src="../images/7238-removebg-preview 1.png", alt="")
            .section-bottom 
                .hero-bottom 
                    .hero-bottom-left
                        h5.hero-left-h5 with benefits
                    .hero-bottom-right 
                        h5.hero-right-h5 See all
            .bottom-card 
                img.bottom-card-mung(src="../images/Rectangle 7 (1).png", alt="")
                h1.bottom-card__mung Mung bean Salad
                h3.bottom-card-reduce  Reduce Chronic Disease Risk
            .navbar 
                nav.nav__bar 
                     ol.item 
                        li.list 
                             a.list-link(href="#") 
                                 img.home-img(src="../images/home.svg", alt="")
                        li.list 
                            a.list-link(href="#") 
                                mg.yure-img(src="../images/yure.svg", alt="")
                        li.list 
                            button.world 
                                //- a.list-link(href="#") 
                                img.world-img(src="../images/Main Animation.svg", alt="")
                         li.list 
                             a.list-link(href="#") 
                                 img.save-img(src="../images/save.svg", alt="")
                         li.list 
                             a.list-link(href="#") 
                                 img.user-img(src="../images/User_02.svg", alt="")   

                 

                            

            //- section.hero-top2 
            //-     .card-header-2        

